.allcomparision {
  background-color: rgba(221, 224, 229, 0.2);
  width: 100%;
  padding: 50px 0;
  .title {
    margin-bottom: 60px;
    color: var(--clr-second);
    width: max-content !important;
    h2 {
      position: relative;
      svg {
        width: 30px;
        position: absolute;
        right: -10px;
        top: 0;
      }
    }
  }
  .allimg {
    display: flex;
    justify-content: space-evenly;

    .comparision {
      margin: 10px 0;
      max-width: 500px;
      :first-child {
        height: 300px;
      }
    }
  }
}
