.introduction {
  gap: 10px;
  display: flex;
  justify-content: center;
  span {
    display: contents;
  }
  .intro_video {
    display: flex;
    align-items: center;
    height: 100%;
    iframe {
      width: 100% !important;
    }
  }
}
